@{
    ViewData["Title"] = "Financial Forecast";
}

<div id="Forecast">
    <div class="row">
        <div id="alert" class="alert fade-appear col-12 form-centered" v-bind:class="errorMessage ? 'alert-danger' : 'alert-success'" v-if="alertMessage">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{alertMessage}}
        </div>
    </div>
    <div class="row">
         <div class="col-sm-2" style="text-align:center">
                <label>Date Range:</label>
                <select v-model="SelectedDateID" class="form-select Date">
                    <option v-for="option in options" v-bind:value="option.id">
                        {{ option.text }}
                    </option>
                </select>
            </div>
            <div class="col-sm-2" style="text-align:center">               
                <label>Start Date:</label>
                <input type="date" v-model="startDate" class="form-control" />                                         
            </div>
            <div class="col-sm-2" style="text-align:center">               
                    <label>End Date:</label>
                    <input type="date" v-model="endDate" class="form-control" />                                            
            </div>
    </div>
    <div class="row" style="margin-top: 15px">
        <div class="col-sm-2">
            <label>Today's Amount:</label>
            <input class="form-control" type="text" placeholder="Today's Amount" v-model="startAmount" />           
        </div>
        <div class="col-sm-2">
            <button class="btn btn-success" style="width:100px; height:40px; margin-top:30px" v-on:click="updateFinancialProfile()" ><i class="fas fa-save"></i> Update</button>
        </div>    
    </div>
        <div class="row col-12 mt-5">
            <div class="table-responsive">
                <table class="table table-sm table-hover table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th v-for="col in columns" v-if="col !== 'id' && col !== 'UserID'">                               
                                {{col}}      
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="Item in getForecastedItems()" v-on:click="ItemClicked(Item)" :class="{'row-highlight': (Item == selectedItem)}">
                            <td v-for="col in columns" v-if="col !== 'id' && col !== 'UserID'" v-bind:type="Item[col] == 'Active' ? 'checkbox': 'text'">
                                <input type="checkbox" v-bind:checked = "Item['Active'] == true" v-if ="col == 'Active'" disabled />
                                <input type="checkbox" v-bind:checked = "Item['Recurring'] == true" v-if ="col == 'Recurring'" disabled />
                                <div v-if="col != 'Active' && col != 'Recurring'">{{Item[col]}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>

@*@Html.Partial("~/Views/Items/PartialViews/_ItemAddConfirmation.cshtml")*@
@Html.Partial("~/Views/Withdrawal/PartialViews/_EditWithdrawal.cshtml")
@Html.Partial("~/Views/Deposit/PartialViews/_EditDeposit.cshtml")

@section Scripts{
    @*@Styles.Render("~/Content/Custom/custom.css");*@
    <script>
        var baseURL = '@ViewBag.BaseURL';
    </script>
    <script src="@Url.Content("~/js/FinancialForecast.Js?v="+DateTime.Now.Ticks)"></script>
}