<div id="multipleWithdrawalDeletionConfirmation" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-xl" style="max-width:900px">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h4 class="modal-title"><i class="fas fa-exclamation-circle"></i> Are you sure you want to delete all of these Withdrawals?</h4>
            </div>
            <div class= "modal-body">
                <div class="table-responsive" style="max-height:350px">
                    <table class="table table-sm table-hover table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th></th>
                                <th v-for="col in columns" v-if="col !== 'id' && col !== 'UserID'">                               
                                    {{col}}                            
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="Withdrawal in recurringWithdrawals">
                                <td>
                                    <span v-on:click="RemoveItem(Withdrawal)">
                                        <i class= "fas fa-minus-circle"></i>
                                    </span>
                                 </td>
                                <td v-for="col in columns" v-if="col !== 'id' && col !== 'UserID'" v-bind:type="Withdrawal[col] == 'Active' ? 'checkbox': 'text'">
                                    <input type="checkbox" v-bind:checked = "Withdrawal['Active'] == true" v-if ="col == 'Active'" disabled />
                                    <input type="checkbox" v-bind:checked = "Withdrawal['Recurring'] == true" v-if ="col == 'Recurring'" disabled />
                                    <div v-if="col != 'Active' && col != 'Recurring'">{{Withdrawal[col]}}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-12 text-right">
                    <button type="submit" @@click="deleteMultipleWithdrawals()" class="btn btn-success" data-dismiss="modal"><i class="fas fa-check"></i> Yes</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i> No</button>
                </div>
            </div>
        </div>
    </div>
</div>