<?xml version="1.0"?>
<configuration>
	<location>
		<system.webServer>
			<aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" arguments="%LAUNCHER_ARGS%" requestTimeout="00:20:00" startupTimeLimit="300">
			</aspNetCore>
			<modules runAllManagedModulesForAllRequests="true" />
		</system.webServer>
	</location>
</configuration>