<?xml version="1.0"?>
<configuration>
	<location>
		<system.webServer>
			<aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" arguments="%LAUNCHER_ARGS%" requestTimeout="00:20:00" startupTimeLimit="300">
			</aspNetCore>
			<modules runAllManagedModulesForAllRequests="true" />
			<security>
				<requestFiltering>
					<requestLimits maxAllowedContentLength="1073741824" />
				</requestFiltering>
			</security>
		</system.webServer>
	</location>
	<system.web>
		<httpRuntime maxRequestLength="1048576" />
	</system.web>
</configuration>