<div id="DepositCreateModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form class="create-validation" novalidate>
                <div class="modal-header bg-primary">
                    <h4 class="modal-title text-white"><i class="fas fa-dollar-sign"></i> New Deposit</h4>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <label>Description:</label>
                            <input type="text" class="form-control" v-model="Deposit.Description" required />
                            <div class="invalid-feedback">
                                Please enter a Description
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>Amount:</label>
                            <input type="text" class="form-control" v-model="Deposit.Amount" required />
                            <div class="invalid-feedback">
                                Please enter an amount
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <label>Date:</label>
                            <input type="date" v-model="Deposit.Date" class="form-control" required />
                            <div class="invalid-feedback">
                                Please enter a Date
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label class="form-check-label">Is Recurring? </label>
                            <input type="checkbox" v-model="Deposit.isRecurring" class="form-check-input" style="width:40px; height:40px; margin-top:30px; margin-left:-90px" />                            
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <label>Frequency:</label>
                            <input type="number" v-model="Deposit.Frequency" class="form-control"/>
                        </div>
                        <div class="col-sm-6">
                            <label>Stop Date:</label>
                            <input type="date" v-model="Deposit.StopDate" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-right">
                        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Submit</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" @@click="resetForm()"><i class="fas fa-times"></i> Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>